.site-nav
  background: $beige
  +vertical-padding(2)
  position: relative
  width: 100%

  +at-breakpoint(lap)
    justify-content: space-between
    display: inline-flex
    align-items: center
    +horizontal-padding(18)

  +at-breakpoint(lte-lap)
    display: flex
    justify-content:center
    align-content: space-between
    flex-direction: column

.slogan
  color: $dark-blue
  padding-left: 0px 
  padding-right: 0px
  +at-breakpoint(lte-lap)
    +vertical-padding(1)
    width: 100%
    text-align: center
    margin-bottom: 10px

    &::after
      display: block
      height: 1px
      content: ''
      background: silver
      position: relative
      bottom: -22px

.site-nav__home
  padding-left: 0px 
  padding-right: 0px
  +at-breakpoint(lte-lap)
    width: 40%
    text-align: center
    margin-top: 20px

.site-nav__menu__link
  font-size: 1.5rem

  +at-breakpoint(lap)
    color: $dark-blue

  +at-breakpoint(lte-lap)
    color: $light-purple

  &:visited 
    color: $dark-blue
  
  &:hover
    color: $red
  
  &:active
    color: $dark-blue

// .site-nav__inner
 // align-content: left
 // align-items: center

 // +at-breakpoint(lte-desk)
 //   display: inline-block

//.site-nav__left
//  flex: 1 0 20%
//  max-width: 20%
//  width: 100%
//
//.site-nav__logo
//  display: block
//
//.site-nav__right
//  flex: 1 0 60%
//  max-width: 60%
//  width: 100%
//  text-align: right
//
//.site-nav__topbar
//  display: block
//
//.site-nav__topbar__locale-switcher
//  display: inline-block
//  +horizontal-padding(1)
//
//.site-nav__topbar__locale-switcher__link
//  color: $dark-blue
//
//  &.is-current
//
//.site-nav__menu-toggler
//  display: block
//  +font-size(alpha)
//  color: $dark-blue
//
//.site-nav__menu

// .site-nav__menu__item
//   display: inline-block
//   +horizontal-padding(1)

//+at-breakpoint(desk)
//  .site-nav__menu-toggler
//    display: none

//  .site-nav__menu
//    display: block
